<div style="box-sizing:border-box;width:100%;margin-bottom:30px;background:#ffffff;border:1px solid #f0f0f0">
  <table style="box-sizing:border-box;width:100%;border-spacing:0;border-collapse:separate!important" width="100%">
    <tbody>
      <tr>
        <td style="box-sizing:border-box;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top;padding:30px" valign="top">
          <table style="box-sizing:border-box;width:100%;border-spacing:0;border-collapse:separate!important" width="100%">
            <tbody>
              <tr>
                <td style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top" valign="top">
                  <h2 style="margin:0;margin-bottom:30px;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-weight:300;line-height:1.5;font-size:24px;color:#666!important">
                    Seja muito bem vind@ <%= @user.first_name %>.<br>
                    Seu cadastro foi feito com sucesso!
                  </h2>
                  <p style="margin:0;margin-bottom:30px;color:#666;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;font-weight:300;line-height:20px;">
                    Agora você pode aproveitar todas as funcionalidades da
                    <span style="color:#00488D;">Agenda Acadêmica</span>!
                    Você se cadastrou com o seguinte dado de acesso:
                  </p>
                  <a style="display:block;text-align:center;margin:0;margin-bottom:30px;color:#666!important;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:20px;font-weight:600">
                    <%= @user.email %>
                  </a>
                  <p style="margin:0;margin-bottom:15px;color:#666;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;font-weight:300;line-height:20px;">
                    Nós da <span style="color:#00488D">Agenda Acadêmica</span>
                    ficamos muito felizes por você ter se cadastrado e esperamos que você tenha uma
                    excelente experiência com nosso aplicativo!
                  </p>
                  <p style="margin:0;margin-bottom:30px;color:#666;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;font-weight:300;line-height:20px;">
                    Caso tenha alguma dificuldade ou, se tiver alguma sugestão de melhoria,
                    ficaríamos muito felizes em te escutar. Pra falar conosco é só nos enviar um
                    email para <a style="color:#3498DB;text-decoration:none;" href="mailto:gabrielrtakeda@gmail.com">gabrielrtakeda@gmail.com</a>.
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
